extends layout 

block content 
    .adminPage
        h1 Admin Sign Up
        
        form(method="POST", action="")
            .adminFormGroup 
                label(for="passcode") Enter a Secret Passcode to become an admin
                input#passcode(type="password" name="passcode" required=true)  
            button(type="submit" class="adminModeBtn") Sign Up


        if errors 
            ul 
                for error in errors 
                    li!=error.msg



        