extends layout 

block content 
    .adminPage
        h1 Admin Sign Up
        
        form(method="POST", action="")
            .adminFormGroup 
                label(for="passcode") Enter a Secret Passcode to become an admin
                input#passcode(type="password" name="passcode" required=true)  
                if(errors)
                    for error in errors
                        if (error.path=='passcode')
                            span(class="errorMsg") #{error.msg}
                            - break 
            button(type="submit" class="adminModeBtn") Sign Up



        