extend layout 

block content 
  h1= title
  
  if user && user.member === true
    p this is a full member
    p #{user.fullName}
  else if user && user.member === false
    p this is not a full member
    p #{user.fullName}
  else 
    p not a member
