extends layout 

block content 
    .joinClubPage
        h1 Join Club 

        form(method="POST", action="")
            .joinClubFormGroup 
                label(for="passcode") Enter the Secret Passcode to become a full member
                input#passcode(type="password" name="passcode" required=true)  
            button(type="submit" class="joinClubBtn") Join


        if errors 
            ul 
                for error in errors 
                    li!=error.msg



        