extends layout 

block content 
    .joinClubPage
        h1 Join Club 

        form(method="POST", action="")
            .joinClubFormGroup 
                label(for="passcode") Enter the Secret Passcode to become a full member
                input#passcode(type="password" name="passcode" required=true)  
                if(errors)
                        for error in errors
                            if (error.path=='passcode')
                                span(class="errorMsg") #{error.msg}
                                - break 
            button(type="submit" class="joinClubBtn") Join



        