extends layout 

block content 
    .newMessageContainer 
        h1 Create a post 

        form(method="POST" action="")
            .messageFormGroup 
                div 
                    label(for="messageTitle") Title
                    input#messageTitle(type="text" name="title" required=true value=(undefined===message ? "" : message.title))  
                div
                    label(for="messageText") Text
                    input#messageText(type="text" name="text" required=true value=(undefined===message ? "" : message.text))  
            button(type="submit" class="messageBtn") Submit

        if errors 
            ul 
                for error in errors 
                    li!=error.msg