.deletePage {
  width: 50%;
  min-width: 300px;
  max-width: 800px;
}

.deletePage .post {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.adminFormGroup {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}

.cancelDeleteWrapper {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cancelDeleteWrapper form {
  width: 100%;
  padding: 0px;
}

.deleteBtn {
  background-color: #e03333;
}

.deletePage h2 {
  padding: 15px 0px;
}

.cancelDeleteWrapper > a {
  height: 45px;
  border-radius: 50px;
  color: #ffffff;
  background-color: #2b4248;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-out;
}

.deleteBtn:hover {
  background-color: #e34949;
}

.cancelDeleteWrapper > a:hover {
  background-color: #3e5f68;
}
