.header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header > a {
  font-size: 2rem;
  color: black;
  font-weight: 700;
}

.stylusLink {
  height: 32px;
  background-color: white;
  padding: 0px 5px;
}

.stylusLink img {
  height: 100%;
}

nav a {
  color: white;
  border-radius: 50px;
  background-color: #2b4248;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #3e5f68;
}

.stylusLink:hover {
  background-color: inherit;
}
