@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/MonaSans-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 1rem;
  font-family: "Mona Sans", Arial, sans-serif;
  display: grid;
}

.app {
  height: 100%;
  width: 100%;
  background: linear-gradient(#ffffff, #b9bdbe 80%, #8a9194);
  display: grid;
  grid-template-rows: 100px 1fr;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  height: 45px;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  background-color: #2b4248;
  padding: 5px 40px;
  transition: background-color 0.2s ease-out;
}

.errorMsg {
  font-size: 14px;
  color: #ff1a1a;
  padding: 5px;
}

h1,
form {
  padding: 15px;
}

h3,
label {
  padding: 5px 0px;
}
label {
  font-weight: 600;
}

input {
  height: 45px;
}

input,
textarea {
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #989898;
  padding: 5px;
}

a {
  padding: 5px;
  color: #00a5e6;
  text-decoration: none;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: 2px solid #469ce8;
}

button:hover {
  background-color: #3e5f68;
}

@media (max-width: 600px) {
  button {
    height: 40px;
  }

  h1 {
    font-size: 1.75rem;
  }

  input {
    height: 40px;
  }
}
