.newMessagePage {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
}

.messageFormGroup > div {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}

.messageBtn {
  background-color: #2b4248;
  margin-top: 20px;
}
