.signUpPage {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
}

.signUpFormGroup:nth-child(1),
.signUpFormGroup:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.signUpFormGroup > div {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}

.signUpBtn {
  background-color: #2b4248;
  margin-top: 20px;
}

@media (max-width: 750px) {
  .signUpFormGroup:nth-child(1),
  .signUpFormGroup:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}
